<h2>Create A Workout</h2>

<div class="row">
  <div class="small-12 large-8 columns centered">
    <%= simple_form_for([:admin, @workout]) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :description %>

      <h3>Exercises</h3>

      <div id="workout-exercises">
        <%= f.simple_fields_for :workout_exercises do |workout_exercise| %>
          <%= render "workout_exercise_fields", f: workout_exercise %>
        <% end %>
      </div>

      <%= f.button :submit, class: "radius button" %>
    <% end %>
  </div>
</div>
